@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

body {
    margin: 0;
    font-family: "Open Sans";
    font-weight: 400;
}
#header {
    margin: 0;
    background-color: #4CA6FF;
    width: 100%;
}

#header h3 {
    margin: 0;
    padding: 1em;
    font-weight: 300;
}